.add-review{
    height: 85vh;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(241, 241, 241, .9);
}
.add-review .input{
    font-family: 'El Messiri', sans-serif !important;
}
.add-review .a-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.add-review .a-grid .image img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}
.add-review .textarea{
    font-family: 'El Messiri', sans-serif;
    font-size: 16px;
    width: 75%;
    height: 100px !important;
    resize: none;
    background-color: transparent;
    border-radius: 5px;
    border-color: #B3B6B7;
}
.add-review .btn{
    font-family: 'El Messiri', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .add-review .a-grid{
        grid-template-columns: 1fr;

    }
.add-review{
    height: 100vh;
}
    .add-review .input{
        width: 100% !important;
    }
    .add-review .a-grid .image img{
        height: 250px;
        margin-bottom: 20px;
    }
.add-review .btn{
    width: 100%;
    margin-top: 10px;
}
.add-review .textarea{
    width: 100%;
}
}
@media (min-width: 576px) and (max-width: 767px){
    .background{
        padding: 120px 0px;
    }
    .background .find{
        margin-left: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .background{
        padding: 140px 0px;
    }
    .background .find{
        margin-left: 140px;
    }
}