.add-review-grid {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.add-review-left {
  width: 50%;
  height: 76vh;
  background-color: var(--login-color);
  border-radius: 45px 0 60% 0;
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
}
.add-review-left-text {
  text-align: center;
  margin-top: 30px;
}
.add-review-left img {
  width: 450px;
  height: 450px;
  position: absolute;
  top: 25%;
  left: 15%;
}
.add-review-right {
  width: 50%;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-review-input-container {
  width: 400px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 3px 3px 25px var(--box-shadow);
  margin: 0 auto;
  margin-right: auto;
}
.add-review-input-container input {
  background-color: var(--input-background);
  border: none;
  border: 1px solid var(--input-background);
  border-radius: var(--radius-large);
  width: 100%;
  padding: 13px;
  margin-bottom: 17px;
  padding-left: 1.5rem;
  font-size: 16px;
}
.add-review-input-container textarea {
  font-family: "El Messiri", sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 13px;
  padding-left: 1.5rem;
  resize: none;
  background-color: var(--input-background);
  border: 1px solid var(--input-background);
  border-radius: var(--radius-large);
}
.add-review-input-container button {
  cursor: pointer;
  width: 100%;
  height: 43px;
  border-radius: var(--radius-large);
  background-color: var(--login-color);
  color: white;
  font-size: 17px;
  border: none;
}
/* Responisve part css start */
@media screen and (max-width: 440px) {
  .add-review-grid {
    display: block;
  }
  .add-review-left {
    width: 100%;
  }
  .add-review-left img {
    width: 360px;
    height: 360px;
  }
  .add-review-right {
    width: 100%;
  }
}
