.orders{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.orders thead{
    border-bottom: 2px solid #566573;
    margin-bottom: 10px;
}
.orders tr{
    border-bottom: 1px solid #D0D3D4;
}
.orders td{
    text-align: center;
    padding: 4px 10px;
}