.add-product{
    height: 85vh;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(241, 241, 241, .9);
}
.add-product .a-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.add-product .a-grid .image img{
    width: 100%;
    height: 480px;
    border-radius: 10px;
}