.my-orders{
    background-color: #f1f1f1;
    border-radius: 10px;
    min-height: 500px;
    text-align: center;
}
.my-orders h2{
    font-size: 30px;
}
.my-orders .flex{
    padding: 0 20px;
    display: block;
}
.my-orders .item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-orders .item img{
    width: 150px;
    height: 60px;
    border-radius: 10px;
}
.my-orders .inline{
    display: inline-block;
    margin-right: 30px;
    width: 18%;
}
.my-orders .item p{
    background: #fff;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
}
.my-orders .blue p{
    background: #ec7024;
    color: white;
}
.my-orders .item .location{
    margin-bottom: -6px;
}