.dashboard-link{
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}
.dashboard-link button{
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
}
.dashboard-link button:hover{
    background: #3986d3;
    transition: .4s;
}