.dashboard-link{
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}
.dashboard-link button{
    cursor: pointer;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
}
.dashboard-link button:hover{
    background: #3986d3;
    transition: .4s;
}
.dashboard-image{
    background: url("../../components/images/sales-dashboard.png") no-repeat center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-radius: 10px;
}
.toolbar{
    width: 100% !important;
}