.dashboard{
    font-family: 'El Messiri', sans-serif;
}
.dashboard .heading{
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    display: block;
}
.dashboard .d-link{
    font-family: 'El Messiri', sans-serif !important;
    display: block;
    margin-bottom: 20px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background: #f1f1f1;
    border-radius: 5px;
    width: 200px;
    text-decoration: none;
    padding: 8px 20px;
    color: #34495E;
}
.dashboard .d-link button:hover{
    background: #f1f1f1;
    transition: .4s;
}
.dashboard .grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgba(241, 241, 241, .9);
    height: 85vh;
    padding: 30px;
    border-radius: 15px;
}
.dashboard .greeting{
    font-family: 'El Messiri', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #2C3E50;
}
.dashboard .dashboard-image{
    background: url("../../components/images/dashboard.svg") no-repeat center;
    background-size: cover;
    height: 600px;
    width: 100%;
    border-radius: 10px;
}
.css-1t29gy6-MuiToolbar-root{
    min-height: 0 !important;
}
.dashboard .sidebar-icon{
    margin-bottom: -5px;
    margin-right: 10px;
}