.display-review {
  margin-top: var(--section-gap);
  text-align: center;
}
.reviews-item {
  width: 80% !important;
  border: 8px solid gainsboro;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.reviews-item:hover {
  background-color: #1b2631;
  transition: 0.4s;
}
.scroll-bar::-webkit-scrollbar {
  display: none;
}
.reviews-item .text {
  color: var(--color-dark);
  transition: 0.4s;
}
.reviews-item .name {
  color: var(--main-color);
  transition: 0.4s;
}
.reviews-item:hover .date {
  color: #f0f3f4;
  transition: 0.4s;
}
.reviews-item:hover .text {
  color: #f0f3f4;
  transition: 0.4s;
}
/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px) {
  .scroll-bar {
    height: 100px !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .background {
    padding: 120px 0px;
  }
  .background .find {
    margin-left: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .background {
    padding: 140px 0px;
  }
  .background .find {
    margin-left: 140px;
  }
}
