.navigation .image{
    cursor: pointer;
    width: 150px;
}
.navigation .menu-icon{
    display: none;
}
.navigation .nav-item{
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin-left:  20px;
    display: inline-block;
    cursor: pointer;
}
/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .navigation .image{
        width: 100px;
    }
    .navigation .log-icon{
        font-size: 14px;
        margin-bottom: -3px !important;
    }
    .navigation img{
        width: 100px;
    }
    .navigation .nav-item{
        font-size: 14px;
        margin-left: 8px !important;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .navigation .image{
        width: 100px;
    }
    .navigation img{
        width: 100px;
    }
    .navigation .nav-item{
        margin-right: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .navigation .image{
        width: 100px;
    }
    .navigation img{
        width: 200px;
    }
    .navigation .nav-item{
        font-size: 16px;
        margin-right: 20px;
    }
}