.footer{
    background: #1B2631;
    color: white;
    padding: 10px 0px;
}
.footer .flex {
    display: grid;
    grid-template-columns: 1.4fr 1fr .6fr 1fr;
    gap: 20px;
}
.footer .flex .logo .icon{
    color: black;
    background: white;
    margin-right: 10px;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
}
.footer .flex .logo .icon:hover{
    cursor: pointer;
    background: #ffb400;
    color: white;
    transition: .4s;
}
.footer .logo img{
    width: 200px;
    background-color: white;
    border-radius: 10px;
}
.footer .flex .contact .inner p{
    margin-left: 25px;
}
.footer .flex .contact .inner{
    position: relative;
    margin-bottom: 20px;
}
.footer .flex .contact .inner .inner-icon{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.footer .flex .links ul{
    padding-left: 0px;
}
.footer .flex .links ul li{
    margin-bottom: 10px;
    list-style: none;
}
.footer .flex .links ul li:hover{
    margin-left: 5px;
    transition: .4s;
    color: #ffb400;
}
.footer .flex .subscribe .input{
    width: 75%;
    background: white;
    padding: 2px;
    border-radius: 2px;
    margin-right: 3px;
}
/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .footer .flex {
        grid-template-columns: 0.8fr;
        gap: 10px;
    }
    .footer .flex .subscribe .input{
        margin-bottom: 10px;
        margin-right: 5px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .footer .flex {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .footer .flex .subscribe .input{
        margin-bottom: 10px;
        margin-right: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .footer .flex {
        grid-template-columns: 1.2fr 1.2fr 0.5fr 1fr;
        gap: 10px;
    }
    .footer .flex .subscribe .input{
        margin-bottom: 10px;
        margin-right: 5px;
    }
}