.floating-div .item{
    margin-right: 20px;
    background-color: white;
    border-radius: 10px 30px 45px;
    padding: 15px;
    text-align: center;
}
.floating-div .setting{
    font-size: 50px;
    color: #ee3131;
}
.floating-div .css-8ra7tr-MuiGrid-root{
    max-width: 100%;
}

/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .floating-div .option{
        display: block !important;
        margin: 20px 0px !important;
    }
    .floating-div .item{
        margin-bottom: 10px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .floating-div .option{
        display: block !important;
        margin: 20px 0px !important;
    }
    .floating-div .item{
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .floating-div .option{
        display: block !important;
        margin: 20px 0px !important;
    }
    .floating-div .item{
        margin-bottom: 10px;
    }
}