.purchase{
    margin-top: 100px;
    margin-bottom: 20px;
}
.purchase .display{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.purchase .display .left img{
    width: 80%;
    height: 300px;
    border-radius: 5px;
}
.purchase .input{
    width: 90%;
    margin-bottom: 10px;
}
.css-1t29gy6-MuiToolbar-root{
padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .purchase .grid .left{
        width: 100%;
    }
    .purchase .grid .right{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .purchase .grid .left{
        width: 100%;
    }
    .purchase .grid .right{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .purchase .grid .left{
        width: 60%;
    }
    .purchase .grid .right{
        width: 40%;
    }
}