.login{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
}
.log-in-top{
    height: 100vh;
}
.login .input-alignment{
    width: 70%;
    margin: 15px auto;
}
.login .display{
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 20px;
    width: 70%;
    margin: 0 auto;
}
.login img{
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #1976d2;
}
/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .login{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .login .input-alignment{
        width: 90%;
        margin: 15px auto;
    }
    .login .display{
        margin-bottom: 10px;
        width: 90%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .login{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .login .input-alignment{
        width: 90%;
        margin: 15px auto;
    }
    .login .display{
        margin-bottom: 10px;
        width: 90%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .login{
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
    }
    .login .input-alignment{
        width: 90%;
        margin: 15px auto;
    }
    .login .display{
        margin-bottom: 10px;
        width: 90%;
    }
}