.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login h2{
    margin-top: 100px;
    margin-bottom: -80px;
}
.login .heading{
    text-align: center;
}
.login .display{
    font-family: 'El Messiri', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}