.products .latest{
    text-align: center;
}
.products .display .item{
    width: 31%;
    margin-right: 20px;
    box-shadow: 1px 1px 20px 15px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
    border-radius: 10px;
}
.products .display .item h3{
    font-size: 20px;
    margin-bottom: -10px;
}
.products .display{
    display: flex;
    flex-wrap: wrap;
}
.products .display .item .image img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.products .display .item .car-info{
    padding: 15px;
}
.products .display .item .car-info .icon{
    margin-bottom: -5px;
    color: red;
}
.products .display .item .car-info span{
    background-color: red;
    color: white;
}
.products .display .item .car-info button{
    background: red;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.products .display .item .car-info button:hover{
    background: #f3868f;
    transition: .4s;
}

/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .products .display .item{
        width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .products .display .item{
        width: 45%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .products .display .item{
        width: 31%;
    }
}
