.background{
    background: url('../images/lamborgini-car.jpeg') no-repeat center;
    background-size: cover;
    padding: 260px 0px;
}
.background .find{
    margin-left: 160px;
}
.background small{
    margin-bottom: 40px;
}
.background .find h2{
    font-size: 40px !important;
    margin-bottom: -15px;
}
.background p{
    padding-top: 10px;
}
.background span{
    padding-top: 10px;
}
.background .text{
    width: 500px;
}

/* Responisve part css start */
@media (min-width: 320px) and (max-width: 575px){
    .background{
        padding: 80px 0px;
    }
    .background .find{
        margin-left: 40px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .background{
        padding: 120px 0px;
    }
    .background .find{
        margin-left: 40px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .background{
        padding: 140px 0px;
    }
    .background .find{
        margin-left: 140px;
    }
}