.banner-component {
  background: url("../images/bannerimage.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  color: var(--login-color);
}
.banner-component .alignment {
  padding-top: 14%;
  text-align: center;
}
.banner-component .heading {
  font-size: 40px;
  width: 590px;
  margin: 0 auto;
}
.banner-component .sub-heading {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 20px;
}

/* Responisve part css start */
@media screen and (max-width: 440px) {
  .banner-component .alignment {
    padding-top: 28%;
  }
  .banner-component .heading {
    font-size: 30px;
    width: 390px;
  }
  .banner-component .sub-heading {
    font-style: 16px;
  }
}
